/*
  Convención para estructurar los estilos
    1. Posicionamiento
    2. Modelo de caja (Box model)
    3. Tipografía
    4. Visuales
    5. Otros     
*/
:root {
  /* Colores */
  --bitcoin-orange: #F7931A;
  --soft-orange: #FFE9D5;
  --secondaty-blue: #1A9AF7;
  --soft-blue: #E7F5FF;
  --warm-black: #201E1C;
  --black: #282623;
  --grey: #BABABA;
  --off-white: #FAF8F7;
  --white: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}

body {
  font-size: 1.6rem;
} 

/* HEADER! */

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, var(--warm-black) 16.69%, var(--bitcoin-orange) 100%);
}
header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center; /* Aplica si el elemento esta dentro de un contenedor con diplay: felx;*/
}
.header__title-container {
  /*
    Medira 90% del tamaño de la pantalla cuando mida entre 288 y 900px,
    al llegar debajo o por encima de dichas medidas el contenedor ya no crecera.
  */
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin-top: 50px;
  text-align: center;
  align-self: center; 
}
.header__title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--white)
}
.header__title-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange)
}
.header__title-container .header__button {
  position: absolute;
  /* 
    50%: Movera al elemento un 50% desde la izquierda del contenedor
    114px: Mital del tamaño del elemento (se definió en el width: 228px);
  */
  left: calc(50% - 114px);
  top: 270px;
  display: block;
  margin-top: 45px;
  padding: 15px;
  width: 228px;
  height: 48px;
  background-color: var(--off-white);
  /* Sombra */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--warm-black);
}

.header__button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url('./assets/icons/down-arrow.svg');
}

/* MAIN! */

main {
  width: 100%;
  min-width: 320px;
  height: auto;
  background-color: var(--off-white);
}

.main__exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}

.main__exchange-container--title {
  width: 90%;
  min-width: 288px; /* 90% de 320px, esta es la medida minima en el contenedor principal*/
  max-width: 900px;
  margin: 0 auto;
}

.main__exchange-container .backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url('./assets/img/bitcoin.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main__exchange-container--title h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.main__exchange-container--title  p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.8rem;
  color: #757575;
}